.LiveFormatMenu {
  align-self: flex-end;

  &--button {
    margin-right: -1rem !important;

    &:focus {
      color: var(--color-primary);
    }
  }

  &--menu {
    position: relative;
    top: -3.5rem;

    @media (max-width: 600px) {
      top: -2.875rem;
    }

    .bubble {
      max-height: 20rem;
      overflow: auto;
    }

    .is-pointer-env & {
      > .backdrop {
        position: absolute;
        top: -1rem;
        left: auto;
        right: 0;
        width: 3.5rem;
      }
    }

    .media-disabled > button {
      white-space: normal;
    }

    &--item {
      &.active {
        background-color: var(--color-item-active);
      }

      .Switcher {
        margin-left: 0;
        margin-right: 0.875rem;
      }
    }
  }
}

.bot-attach-context-menu {
  position: absolute;
}
