.SettingsFolderIconPicker {

  .search-input-container {
    padding: 0 0.5rem;

    .SearchInput {
      border-radius: 0.5rem;
    }

    .search-input-container__error {
      margin-left: 0.5rem;
      color: var(--color-text);
      opacity: 0;
      transform: translateY(-1rem);
      transition: opacity var(--layer-transition), transform var(--layer-transition);

      &.shown {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}
